<app-header></app-header>

<div class="menu-title">
        USUARIOS
</div>

<div class="usuarios-content">
        <div class="container">

        <div class="search-section">
                <div class="row">
                    <div class="col-md-8">
                        <div class="position-relative">
                            <input (change)="filtrarUsuarios()" [(ngModel)]="nombreBuscado" type="text" class="search-input" placeholder="NOMBRE Y APELLIDO" id="searchNombre">
                            <button class="search-btn" type="button" onclick="searchUsers()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative">
                            <select (change)="filtrarUsuarios()" [(ngModel)]="rolBuscado" class="search-input select-filter" id="rol" name="rol">
                                <option value="" selected>Seleccionar Rol</option>
                                <option value="ADMIN" selected>ADMIN</option>
                                <option value="EMPLEADO">EMPLEADO</option>
                                <option value="CLIENTE">CLIENTE</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row table-header">
                <div class="col-2 text-center">NOMBRE</div>
                <div class="col-2 text-center">TELÉFONO</div>
                <div class="col-3 text-center">MAIL</div>
                <div class="col-1 text-center">ROL</div>
                <div class="col-2 text-center">ESTADO</div>
            </div>
            @for (usuario of arrayFiltred; track usuario.id_usuario){
            <div class="usuario-row">
                <div class="row usuario-item">
                    <div class="col-2 ">
                        <span class="usuario-arrow">▶</span>
                        <span>{{usuario.nombre}}</span>
                    </div>
                    <div class="col-2 text-center">
                        <span>{{usuario.telefono}}</span>
                    </div>
                    <div class="col-3 text-center">
                        <span>{{usuario.mail}}</span>
                    </div>
                    <div class="col-1 text-center">
                        <span>{{usuario.rol}}</span>
                    </div>
                    <div class="col-2 text-center">
                        @if (usuario.activo==true){
                            <span>ACTIVO</span>
                        } @else{
                            <span>DESACTIVADO</span>
                        }                        
                    </div>
                    <div class="col-2 text-end">
                        @if (showDeleteButtons()==true){
                        <button (click)="eliminarUsuario(usuario.id_usuario)" class="btn btn-eliminar-small">ELIMINAR</button>
                        }
                        <a (click)="goToEditarUsuario(usuario.id_usuario)" class="btn btn-editar-small">EDITAR</a>
                    </div>
                </div>
            </div>
        }

        <div class="pagination-controls text-center mt-4">
            <button (click)="prevPage()"  class="btn btn-editar-small">Anterior</button>
            <span> Página {{currentPage}} de {{totalPages}} </span>
            <button (click)="nextPage()"  class="btn btn-editar-small">Siguiente</button>
        </div>

            <div class="text-end">
                <a (click)="goToCrearUsuario()" class="btn btn-crear-usuario">
                    CREAR USUARIO
                </a>
            </div>

        </div>
    </div><p></p>

<app-footer></app-footer>