<app-header></app-header>

<div class="menu-title">
    @if (getRol() == 'ADMIN'){
        PEDIDOS
    }
    @if (getRol() == 'CLIENTE'){
        MIS PEDIDOS
    }
</div>

<div class="pedidos-content">
        <div class="container">

            <div class="search-section">
                <div class="row">
                    <div class="col-md-7">
                        <div class="position-relative">
                            <input (change)="filtrarPedidos()" [(ngModel)]="idBuscado" type="number" class="search-input" placeholder="INGRESAR ID DEL PEDIDO" id="searchIdPedido">
                            <button class="search-btn" type="button" onclick="searchPedidos()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="position-relative">
                            <select (change)="filtrarPedidos()" [(ngModel)]="estadoBuscado" class="search-input select-filter" id="estado" name="estado">
                                <option value="" selected>Seleccionar Estado</option>
                                <option value="EN PREPARACION">EN PREPARACION</option>
                                <option value="LISTO">LISTO</option>
                                <option value="ENTREGADO">ENTREGADO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row table-header">
                <div class="col-2 text-center">ID_PEDIDO</div>
                <div class="col-2">COMIDAS</div>
                <div class="col-2 text-center">ESTADO</div>
                <div class="col-2 text-center">FECHA</div>
                <div class="col-1 text-center">TOTAL</div>
            </div>
            @for (pedido of arrayFiltred; track pedido.id_pedido){
            <div class="pedido-row">
                <div class="row pedido-item">
                    <div class="col-2 text-center">
                        <span class="pedido-arrow">▶</span>
                        <span>{{pedido.id_pedido}}</span>
                    </div>
                    <div class="col-2">
                        <span>{{ getComida(pedido) }}</span>
                    </div>
                    <div class="col-2 text-center">
                        <span>{{pedido.estado}}</span>
                    </div>
                    <div class="col-2 text-center">
                        <span>{{pedido.fecha}}</span>
                    </div>
                    <div class="col-1 text-center">
                            <strong>${{pedido.total}}</strong>
                        </div>
                    <div class="col-3 text-center">
                        <a (click)="goToCrearResena(pedido)" class="btn btn-anadir-resena">RESEÑAR</a>
                        @if (showEditDeleteButtons() == true){
                            <button (click)="eliminarPedido(pedido.id_pedido)" class="btn btn-eliminar-small">ELIMINAR</button>
                            <a (click)="goToEditarPedido(pedido.id_pedido)" class="btn btn-editar-small">EDITAR</a>
                        }                       
                    </div>
                </div>
            </div>
        }

        <div class="pagination-controls text-center mt-4">
            <button (click)="prevPage()"  class="btn btn-editar-small">Anterior</button>
            <span> Página {{currentPage}} de {{totalPages}} </span>
            <button (click)="nextPage()"  class="btn btn-editar-small">Siguiente</button>
        </div>

        </div>
    </div><p></p>

<app-footer></app-footer>